/** IMPORTS **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/** ESTILOS GLOBALES **/
* {
    font-family: 'Montserrat', sans-serif;
}

#container {
    height: 100%;
}

main {
    height: 100%;
    display: flex;
}

/** ESTILOS HERO **/
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #f4f0f0;
}

#main-hero {
    justify-content: center;
}

#hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

#h1-hero {
    font-size: 58px;
    font-weight: 700;
    margin-top: 1em;
}

#p-hero {
    font-size: 45px;
    line-height: 80px;
    letter-spacing: -0.006em;
    margin: 0;
}

#logos {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

#logos a {
    margin: 0 .6em;
}

#down-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1em;
    animation: bounce 3s infinite;
}

/** RESPONSIVE **/
@media (max-width: 768px) {
    #h1-hero {
        font-size: 46px;
    }

    #p-hero {
        font-size: 35px;
        line-height: 50px;
    }
}

@media (max-width: 480px) {
    #h1-hero {
        font-size: 28px;
    }

    #p-hero {
        font-size: 22px;
        line-height: 40px;
    }
}